# Configure Bucket SA account file
gcs.service-account.key-file=REPLACE_WITH_FULL_FILE_PATH_TO_SERVICE_ACCOUNT_KEY.json

# Configure Topic Encryption Keys
bucket.encryption.key=ENCRYPTION_KEY
bucket.encryption.salt=ENCRYPTION_SALT
